@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply
  rounded-full
  cursor-pointer
  text-2xl
  font-supermolot
  hover:scale-125
  hover:duration-300
  text-zinc-800
  bg-slate-100
  hover:bg-emerald-300
  hover:text-zinc-800
  dark:text-zinc-400
  dark:bg-zinc-800
  dark:hover:bg-red-800
  dark:hover:text-zinc-800
}

.sun {
  @apply
  rounded-full
  cursor-pointer
  hover:scale-125
  hover:duration-300
  text-zinc-400
  bg-zinc-800
  hover:bg-blue-500
  hover:text-yellow-400
}

.moon {
  @apply
  rounded-full
  cursor-pointer
  hover:scale-125
  hover:duration-300
  text-zinc-800
  bg-slate-100
  hover:bg-blue-950
  hover:text-yellow-200
}


#px-line-dark {
  border-bottom: 1px solid #222224;
  transition: border-bottom 0.5s ease-in-out;
}

#px-line-light {
  border-bottom: 1px solid #dbd8e4;
  transition: border-bottom 0.5s ease-in-out;
}

#navbar {
  transition: 0.5s ease-in-out;
  border-bottom: 1px solid #222224;
}


@font-face {
  font-family: 'TT Supermolot Neue Exp DBold';
  src: url('../fonts/supermolot/TTSupermolotNeue-ExpDBold.woff');
}
